@charset "UTF-8";

/*Basic*/

body {
  font-family: "Roboto", sans-serif;
}

/*aligning content on mobile*/
.container {
  width: 84%;
  margin: 0 auto;
}

/*aligning content on desktop*/
@media (min-width: 900px) {
  .container {
    width: 91%;
    max-width: 1240px;
  }
}

/* Reset / Normalize / Santize */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
figure {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

.site {
  display: flex;
  align-items: center;
}

.site img {
  width: 42px;
  margin-right: 10px;
}

.site .name {
  color: #333;
  font-size: 12px;
  font-weight: 900;
  line-height: 1.4;
}

.site .description {
  color: #707f89;
  font-size: 10px;
  line-height: 1.4;
}

/*when viewed on desktop*/
@media (min-width: 900px) {
  .site img {
    width: 59px;
    margin-right: 18px;
  }

  .site .name {
    font-size: 22px;
  }

  .site .description {
    font-size: 12px;
  }
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*navigation button*/
.nav-button {
  box-sizing: content-box;
  padding: 0;
  outline: none;
  border: none;
  background: none;
  width: 20px;
  height: 14px;
  cursor: pointer;
  color: #2e5180;
}

.nav-button::before,
.nav-button::after {
  content: "";
  display: block;
  height: 2px;
  background-color: currentColor;
  transform: translateY(5px);
}

.nav-button::before {
  transform: translateY(-5px);
  box-shadow: 0 6px currentColor;
}

/*Header*/
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
}

@media (min-width: 900px) {
  .header .container {
    height: 100px;
  }
}

/*Hero*/

.hero {
  height: 400px;
  background-image: url(img/hero.png);
  background-position: center;
  background-size: cover;
  display: flex;
}


.hero .headline {
  flex: auto;
  align-self: flex-end;
  padding: 33px 0;
  background-color: rgba(255, 255, 255, 76%);
}

.hero .container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

}

.hero img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.hero p {
  font-size: 15px;
  color: #2E5180;
  margin-bottom: 15px;
}

@media (min-width: 900px) {
  .hero {
    height: 700px;
  }

  .hero .headline {
    padding: 47px 0 44px;
  }

  .hero p {
    font-size: 18px;
    margin-bottom: 22px;
  }
}


/*Message*/

.message {
  padding: 67px 0;
  background-color: #2E5180;
  color: #fff;
}

.message h2 {
  margin-bottom: 38px;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
}

.message p {
  max-width: 640px;
  margin: auto;
  font-size: 15px;
  line-height: 1.73;
}

@media (min-width: 900px) {

  .message {
    padding: 80 0 81;
  }

  .message h2 {
    font-size: 36px;
    line-height: 1.33;
  }
}

@media (max-width: 374px) {
  .message h2 {
    font-size: 20px;
  }
}

/*Services*/

.services {
  padding: 67px 0;
  text-align: center;
}

.services h2 {
  display: inline-block;
  color: #2E5180;
  border-bottom: 2px dotted currentColor;
  padding-bottom: 9px;
  margin-bottom: 15px;
  font-size: 26px;
}

.services h2+p {
  color: #2E5180;
  font-size: 16px;
  margin-bottom: 53px;
}

@media (min-width: 900px) {
  .services {
    padding: 94px 0 87px;
  }

  .services h2 {
    font-size: 36px;
  }

  .services h2+p {
    margin-bottom: 75px;
  }
}

/*Services > Features*/

.features {
  color: #333;
}

.feature:not(:last-child) {
  margin-bottom: 67px;
}

.feature h3 {
  font-size: 22px;
  line-height: 1.6;
  margin-bottom: 17px;
}

.feature p {
  max-width: 264px;
  margin: 0 auto 25px;
  font-size: 13px;
  line-height: 1.8;
}

.feature figure img {
  width: 100%;
  vertical-align: bottom;
  height: 246px;
  object-fit: cover;
  margin-bottom: 22px;
}

.btn {
  display: block;
  width: 208px;
  margin: 0 auto;
  padding: 13px 13px 14px;
  border-radius: 24px;
  color: #2E5180;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: 2px solid currentColor;
}

@media (min-width: 900px) {
  .features {
    display: flex;
  }

  .feature {
    flex: 1;
    margin-right: 3.22%;
  }

  .feature:first-child {
    margin-left: 3.22%;
  }

  .feature:not(:last-child) {
    margin-bottom: 0;
  }

  .feature h3 {
    margin-bottom: 26px;
    font-size: 30px;
    line-height: 1.4;
  }

  .feature p {
    width: 78%;
    max-width: none;
  }

  .feature figure img {
    height: 360px;
    margin-bottom: 33px;
  }

  /*button alignment*/
  .feature {
    display: flex;
    flex-direction: column;
  }

  .feature a.btn {
    margin-top: auto;
  }
}

/*Contact Us*/

.contact {
  padding: 61px 0;
  background-color: #EEF4F8;
  color: #333;
  /* max-width: 1240px; */
}

@media (min-width: 900px) {
  .contact{
    padding: 0;
    background: none;
  }


  .contact .container {
    display: flex;
    justify-content: space-between;
    padding: 96px 9% 62px;
    box-sizing: border-box;
    background-color: #EEF4F8;
  }

  .contact .text {
    flex: 0 0 auto;
  }

  .contact .form{
    flex: 1 1 auto;
    max-width: 457px;
    margin-left: 1em;
    margin-top: 0;
  }

  .contact h2{
    font-size: 36px;
  }
}


.contact h2 {
  font-size: 26px;
  margin-bottom: 42px;
}

.contact h2+p {
  font-size: 13px;
  line-height: 2;
  margin-bottom: 47px;
}

@media (min-width: 900px) {
  .contact h2 {
    font-size: 36px;
  }

  .contact h2+p {
    font-size: 15px;
    line-height: 1.73;
  }
}


/*Contact Us Form*/

.form input[type='text'],
.form input[type='email'],
.form textarea {
  width: 100%;
  margin-bottom: 17px;
  padding: 14px 20px 15px;
  border: 1px solid #CDD6DD;
  box-sizing: border-box;
  -webkit-appearance: none;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.form::placeholder{
  color: #CDD6DD;
}

.form textarea {
  height: 150px;
}


.form .btn{
  width: 100%;
  margin: 0;
  border: none;
  background-color: #2E5180;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  -webkit-appearance: none;
}

@media (min-width: 900px) {
  .form .btn {
    width: 272px;
  }
}

/*Footer*/

.footer {
  padding: 38px 0 56px;
  background-color: #2E5180;
}

.footer .site img {
  width: 47px;
  margin-right: 14px;
}

.footer .site .name {
  color: #fff;
  font-size: 18px;
}

.footer .add {
  color: #fff;
  font-size: 12px;
  line-height: 2;
  margin: 20px 0 36px 61px;
}

.footer .sns {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 61px;
}

.footer .sns li:not(:first-child) {
  margin-left: 25px;
}

.footer .sns img {
  width: 35px;
}

@media (min-width: 900px) {

  .contact {
    position: relative;
    z-index: 2;
  }

  .footer {
    margin-top: -48px;
    padding: 105px 0 88px;
  }

  .footer .container {
    display: flex;
    justify-content: space-between;
  }

  .footer .site img {
    width: 59px;
    margin-right: 18px;
  }  

  .footer .add {
    margin: 22px 0 0 77px;
  }  
  
  .footer .sns {
    height: 59px;
    align-items: center;
}

}